.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #09a4d7;
  color: white;
  font-weight: 600;
  padding: 2px 18px;
}