<div class="wrapper" *ngIf="analysis">
  <table>
    <thead>
      <tr>
        <th>Dir</th>
        <th>End</th>
        <th>Label</th>
        <th>Start</th>
        <th>Text</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let arc of analysis.arcs">
        <td>{{arc.dir}}</td>
        <td>{{arc.end}}</td>
        <td>{{arc.label}}</td>
        <td>{{arc.start}}</td>
        <td>{{arc.text}}</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>Tag</th>
        <th>Text</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let word of analysis.words">
        <td>{{word.tag}}</td>
        <td>{{word.text}}</td>
      </tr>
    </tbody>
  </table>
</div>