:host {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

table {
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  margin: 16px;
  flex: 0 0 46%;
  max-width: 46%;
  text-align: center;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6
}

table th,
table td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6
}