.menu {
  display: block;
  width: 500px;
  margin: 0 auto;
}

button {
  background-color: #09a4d7;
  color: white;
  display: block;
  width: 100%;
  margin: 8px 0px 20px;
  padding: 8px 0px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

button:hover {
  background-color: #077fa6;
  cursor: pointer;
}

textarea,
select {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-top: 8px;
}

textarea {
  overflow: auto;
  resize: vertical;
  box-sizing: border-box;
}

textarea:focus,
select:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 -4.8rem rgb(0 123 255 / 25%);
}