<div class="menu">
  <textarea maxlength="1000" rows="8" id="text" [(ngModel)]="text"></textarea>
  <select class="form-control" id="language" [(ngModel)]="language">
  <option value="de" selected>de</option>
  <option value="en">en</option>
</select>
<button (click)="analyze()">Analyze</button>
</div>
<app-analysis [analysis]="analysis"></app-analysis>